{% extends "design.html" %} {% block content %}
<h2>Term deposit prediction</h2>
This model uses several lead characteristics to assess if a banking product, ie
term deposit,<br />
would be subscribed:

<ul style="line-height: 1.5">
  <li>Job title</li>
  <li>marital status</li>
  <li>Does client have credit in default)</li>
  <li>Does client have housing loan</li>
  <li>Outcome of the previous marketing campaign</li>
</ul>
<p>
  Using these features, <strong>Support Vector Machine</strong> predicts if the
  client subscribes a term deposit.
</p>
<hr />
<p>
  <h3>Predict</h3>
  Select your feature values:
</p>

<form action="/result">
  <div class="panel">
    <ul>
      <li>
        Job:
        <select name="job" method="GET" action="/">
          {% for j in job %}
          <option value="{{j}}" selected>{{j}}</option>
          " {% endfor %}
        </select>
      </li>
      <li>
        marital status:
        <select name="marital" method="GET" action="/">
          {% for m in marital %}
          <option value="{{m}}" selected>{{m}}</option>
          " {% endfor %}
        </select>
      </li>
      <li>
        default status:
        <select name="default" method="GET" action="/">
          {% for d in default %}
          <option value="{{d}}" selected>{{d}}</option>
          " {% endfor %}
        </select>
      </li>
      <li>
        housing:
        <select name="housing" method="GET" action="/">
          {% for h in housing %}
          <option value="{{h}}" selected>{{h}}</option>
          " {% endfor %}
        </select>
      </li>
      <li>
        poutcome:
        <select name="poutcome" method="GET" action="/">
          {% for p in poutcome %}
          <option value="{{p}}" selected>{{p}}</option>
          " {% endfor %}
        </select>
      </li>
    </ul>
  </div>

  <div style="margin-bottom: 2rem">
    <input type="submit" value="Submit" class="button" />
    <input type="reset" value="Reset Values" class="button" />
  </div>
</form>
<hr />
{% endblock %}
